*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(240, 221, 185);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #A6B888;
    padding-top: 0.7em;
}
header h1{
    color: white;

    text-align: center;
    text-shadow: 0.05em 0.05em  black;
    
    margin-bottom: 0.4em;
}
header menu{
    display: none;
}
header #menu-icon{
    background-color: rgb(58, 73, 32);
    
    width: 100%;
    padding: 0.4em 0em;

}
header menu a, header span{
    display: block;

    background-color: darkolivegreen;
    color: white;

    text-decoration: none;
    text-align: center;
    
    border-top: 0.1em solid #A6B888;
    padding: 0.8em 0em;
}

header menu a:hover, #menu-icon:hover{
    background-color: rgb(117, 149, 64);
    cursor: pointer;
}

main{
    background-color: white;
    
    max-width: 60em;

    margin: auto;
    padding: 1em 0.5em;

    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

main h3{
    margin: 0.5em 0px;
}
main p{
    text-align: justify;
    /* text-indent: 1.5em; */
    margin-bottom: 0.5em;
}
article span{
    text-align: right;
    display: block;

    margin-bottom: 0.2em;
}

